* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 12px;
}
body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background: linear-gradient(
        to top right,
        rgba(86, 41, 126, 0.847),
        rgba(153, 95, 9, 0.87) 30%,
        rgba(153, 95, 9, 0.87) 60%,
        rgba(116, 52, 145, 0.847)
    );
    background-repeat: no-repeat;
}
.main {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    justify-items: center;
}
.root {
    height: 50%;
    width: 60%;
    display: grid;
    justify-items: center;
    place-items: center;
    gap: 1.2rem;
}
.input-div {
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: black;
    border-radius: 12px;
}
.result-div {
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.res-div-display {
    height: 120px;
    width: 150px;
    display: grid;
    place-items: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    background: black;
}

.input-tag {
    height: 50px;
    width: 320px;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    font-weight: 500;
    font-size: large;
    background-color: #ffffff;
    color: #080808;
    border: none;
}

.btn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-weight: 500;
    font-size: large;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #080808;
    border: none;
}

#year-span,
#month-span,
#day-span {
    height: 60px;
    width: 70px;
    font-size: 28px;
    color: whitesmoke;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para {
    color: gray;
    height: 20px;
    width: 60px;
    font-size: medium;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .root {
        width: 90%;
        height: 300px;
    }

    .input-div,
    .result-div {
        width: 100%;
    }
    .result-div {
        display: flex;
        justify-content: space-between;
    }
    .input-div {
        /* width: 280px; */
        height: 100px;
    }
    .res-div-display {
        width: 88px;
    }

    .input-tag {
        width: 150px;
    }
    .btn {
        width: 75px;
        font-weight: lighter;
        font-size: 16px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .root {
        width: 80%;
        height: 300px;
    }

    .input-div,
    .result-div {
        width: 100%;
    }
    .input-div {
        height: 100px;
    }

    .result-div {
        display: flex;
        justify-content: space-between;
    }
    .res-div-display {
        width: 120px;
    }

    .input-tag {
        width: 300px;
        font-size: 22px;
    }
    .btn {
        width: 120px;
        font-size: 22px;
    }
}
